.mobile-shaping, .mobile-testimonials, .mobile-footer, .mobile-hr, .mobile-copyright, .mobile-founder-message, .mobile-spacer{
  display: none;
}

@media only screen and (max-width: 600px) {
  @font-face {
    font-family: inter;
    src: url(fonts/inter/Inter-VariableFont_opsz\wght.ttf);
  }
  @font-face {
    font-family: inria;
    src: url(fonts/Inria_Serif/InriaSerif-Light.ttf);
  }
  @font-face {
    font-family: helvetica;
    src: url(fonts/HelveticalNeue/HelveticaNeueLight.otf);
  }
  .min-spacer {
    height: 30vh;
  }
  .mobile-spacer{
    display: block;
    height: 10vh;
  }

  .minimized-space {
    height: 20vh;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    overflow-x: hidden;
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease, height 0.3s ease;
    padding: 2vw 3vw;
    z-index: 998;
    background-color: transparent;
  }
  header .logo img {
    width: 13vmax;
    height: 4vmax;
    transition: width 0.3s ease, height 0.3s ease;
  }
  header .menu img {
    width: 10vmax;
    height: 6vmax;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease;
  }

  header.scrolled {
    background-color: orange;
    height: 10%;
  }

  header.scrolled .logo img {
    width: 7vmax;
    height: 2vmax;
  }

  header.scrolled .menu img {
    width: 7vmax;
    height: 20vmax;
  }

  .boxes{
    display: flex;
    flex-direction: column;
  }

}

/* Hide .front-page-engagements on mobile devices */
@media (max-width: 767px) {
    .front-page-engagements {
      display: none;
    }
    .front-testimonials{
        display: none;
    }
    /* Mobile Shaping the fututre with industry  */
    .mobile-shaping, .mobile-testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 4%;
      gap: 20px;
    }
    .mobile-shaping h1{
      font-size: 2rem;
      font-family: inter;
    }
    .mobile-shaping .shape1{

      padding: 5%;
      border-radius: 10px;
    }
  
    .alliances .our-alliances{
      font-size: 2rem;
      width: 100%;
    }
    
    .item {
      width: 150px;
      height: 100px;
    }

    /* clients  */


    .mobile-testimonials h1{
      font-size: 3rem;
      font-family: inter;
    }
    .mobile-testimonials .shape1{

      padding: 5%;
      border-radius: 10px;
    }
    .connection-with-us{
      margin: 10%;
      font-size: 2rem;
      gap: 100%;
      justify-content: flex-start;
      flex-direction: column;
    }
    .connect-with-us .connect-us h1{
      font-size: 2.5rem;
      margin-left: -35%;
      margin-top: 10%;
    }
    .connect-with-us .arrow-symbol{
      display: none;
    }

    /* footer */
    .footer{
      display: none;
    }
    .mobile-footer{
      margin: 0;
      padding: 3%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }
    .mobile-footer .mobile-footer-content{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .mobile-connect{
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .mobile-footer .mobile-footer-content{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
  
      width: 100%;
    }
    .mobile-footer .mobile-footer-content .footer2 .mobile-footer-logo img{
      width: 20vmax;
      height: 6vmax;
    }
    .mobile-divider{
      width: 100%;
      height: 1%;
      background-color: black;
    }
    .footer2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 0 10%;
     }
     .footer2 .mobile-social{
       display: flex;
       flex-direction: row;
     }
    .footer1{
     display: flex;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
    }
    .footer1 .mobile-social{
      display: flex;
      flex-direction: row;
    }
.mobile-footer-menu-links{
  display: flex;
  justify-content: space-between;
width: 80%;
}
    .mobile-connect{
      display: flex;
      flex-direction: column;
    }
    .mobile-links1, .mobile-links2{
      display: flex;
      flex-direction: column;
    }
  
    .mobile-hr{
      display: block;
    }
    .mobile-copyright{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text-div {
      height: 3.1vh;
      overflow: hidden;
    }











    /* About us starts */
    .who-we-are{
      flex-direction: column;
      padding: 10px;
      gap: 40px;
    }
    .who-we-are-img img{
      height: 10%;
      width: 100%;
    }

    .what-we-do h1{
      font-size: 2rem;
    }
    .what-we-do .work1{
      width: 200px;
      height: 300px;
    }
    .what-we-do .work1 h2 {
      font-size: 3vmax;
    }
    .harshad-sangle span, .vrushali-sangle span{
      display: none;
    }
    .vission-mission{
      flex-direction: column;
    }
    .circle-vision {
      top: 39%;
      left: -15%;
    }
    
    .circle-mission {
      bottom: 40%;
      right: -8%; /* Position the mission circle on the right */
    }

    
/* Founder's message starts */
.founder-message{
  display: none;
}
.mobile-founder-message{
  padding-top: 30%;
  padding-bottom: 30%;
  display: flex;
  flex-direction: column;
}
.mobile-founder-message h1{
  margin-top: 10%;
  text-align: center;
  font-family: helvetica;
  font-size: 10vw;
}
.mobile-founder-message .mobile-messages-founder{
  display: flex;
  flex-direction: column;
  color: white;
  justify-items: center;
  align-items: center;
}
.mobile-founder-message .mobile-messages-founder .mobile-harshad-sangle {
  background-color: #1A1A2E;
  z-index: 1;
  width: 80%;
  margin: 3%;
  padding: 4%;
  align-self: flex-start; /* Moves it slightly to the left */
  margin-left: 10%;
  border-radius: 20px;
}
.mobile-harshad-sangle h2, .mobile-vrushali-sangle h2{
  text-align: right;
  font-size: 5vw;
  margin-top: 5%;
}
.mobile-harshad-sangle, .mobile-vrushali-sangle{
  position: relative;
  z-index: 1; /* Background lowest */
}
@font-face {
  font-family: haggu;
  src: url(fonts/space/SpaceGrotesk-VariableFont_wght.ttf);
}
.mobile-harshad-sangle span, .mobile-vrushali-sangle span{
display: none;
}


.mobile-harshad-sangle p, .mobile-harshad-sangle h2,
.mobile-vrushali-sangle p, .mobile-vrushali-sangle h2 {
  position: relative;
  z-index: 3; /* Text is above span */
}
.mobile-founder-message .mobile-messages-founder .mobile-vrushali-sangle {
  background-color: #16213E;
  width: 80%;
  margin-top: 3%;
  padding: 4%;
  border-radius: 20px;  
}

/* Founder's message ends */

    /* About us ends */

    .certifications-we-offer .certifications-heading{
      font-size: 150%;
    }
    .certifications-we-offer .engagements-div-main-page{
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 20px;
      height: 30%; 
    }
    .certifications-we-offer .engagements-div-main-page .engagements1{
      width: 100%;
      height: 100%;
    }
    .products .p-heading{
      font-size: 10vw;
    }
    .submit-btn{
      width: 50%;
    }
    .products {
      margin: 0 10%;
      margin-top: 5%;
    }
    .product-settings {
      flex-direction: column;
    }


    
.product-settings {
background-color: #fff;
}
    .left-products {
     width: 100%;
    }
    .product-settings .left-products .product {
      padding: 10%;
      width: 100%;
    }
    
.product h2 {
  font-family: helvetica;
  font-size: 10vw;
  padding-bottom: 5%;
}





.product .explore {

  padding: 6%;
  background-color: white;
}

.product .explore i {
  font-size: 5vw;
  border: none;
  transition: border-color 0.3s ease; /* Smooth transition for icon border */
}

  }
